@media screen and (max-width:1200px) {
    .header {
        justify-content: space-around;
    }
    
}
@media screen and (max-width:991px) {
    .promo {
        &__wrapper {
            padding: 0 56px 0 0;
        }
    }
    .advantages {
        &__wrapper {
            justify-content: space-around;
        }
    }
}
@media screen and (max-width:767px) {
    .promo {
        padding: 12px 0 0 0;
        &__wrapper {
            padding: 0 0 0 0;
            align-items: center;
      }
    }
    .header{
        &__contacts {
            align-items: center;
            padding: 0 10px;

        }
        
        &__phone {
            font-size: 15px;
        }
        &__official {
            padding: 0 10px;
            width: 50%;
        }
        &__logo {
            padding: 0 10px;
            width: 50%;
            img {
                align-items: center;
                width: 100%;
                
            }
        }


    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 300px;
            img {
                width: 100px;
            }
        }
        &__subheader {
            font-size: 22px;
        }
        &__text {
            font-size: 18px;
        }
    }

}
@media screen and (max-width:575px) {
    .promo {
        min-height: 400px;
        padding: 10px 0 43px 0;
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 32px;
            line-height: 30px;
            text-align:center;

        }
        &__subheader {
            margin-top: 10px;
            font-size: 14px;
            line-height: 0;
            text-align:center;

        }
        &__icons {
            display: none;
        }
        &__link{
            margin-top: 10px;
            font-size: 13px;
        }
    
    }

    .button_main {
        width: 225px;
        height: 50px;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
    }

    .header {
        justify-content: space-evenly;
        &__official {
            display: none;
        }
        &__logo {
            width: 160px;

        }
        &__phone {
            font-size: 10px;
        }
        &__contacts {
            .button {
                margin-top: 1px;
                width: 123px;
                font-size: 10px;
                height: 26px;
            }
        }
    }
    .advantages {
        padding: 55px 0 65px 0;
        &__item {
            margin-top: 45px;
        }
    }
}
