.reviews {
    padding-bottom: 48px;
    .title {
        color: #0D0D0D;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
    }
    &__content {
        display: flex;
        flex-direction: column;

    }
    &-item {
        display: flex;
        margin-top: 60px;
        &__img {
            display: flex;
            width: 169px;
            height: 169px;
            margin-right: 61px;
        }
        &__name {
            color: #0D0D0D;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
        }
        &__subtitle {
            margin-top: 5px;
            color: #646464;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
        }
        &__text {
            margin-top: 10px;
            color: #0D0D0D;
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;
        }
    }
}